/* Allgemeines Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #f4f4f4;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: #333;
  text-decoration: none;
}

.sidebar ul li a:hover {
  color: #007bff;
  text-decoration: underline;
}

/* Main Content */
.main-content {
  margin-left: 270px;
  padding: 20px;
}

.main-content h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.content h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.content ul.command-list {
  list-style-type: none;
  padding-left: 0;
}

.content ul.command-list li {
  margin: 10px 0;
  font-size: 1.1em;
}

.content ul.command-list li strong {
  color: #333;
  font-weight: bold;
}

/* Links ohne Unterstrich */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #007bff;
  text-decoration: underline;
}

footer {
  margin-top: 40px;
  text-align: center;
  font-size: 0.8em;
  color: #777;
}
